body{
	background-image: url(web1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;   
	background-size: 100% 100%;
	

}

div.kutu{
	width: 800px;
	height: 1800px;
	margin: auto;
	border: 0px solid teal;
	/*background-image: url(web8.png);*/
	background-image: url(web34.jpg);
	background-repeat: no-repeat; 
	background-position: top;
	background-attachment: local;
	background-size: 100% 100%;


}


div#kutu1{
	width: 100%;
	height: 100%;
	background-color: transparent;
	margin-top: 2px;

}


div#kutu2{
	width: 100%;
	height: 380px;
	background-image: url(web3.jpg);
	background-repeat: no-repeat; 
	background-position: top;
	background-attachment: local;
	background-size: 100% 100%;
	margin-top: 2px;
	line-height: 80px;
	text-align: center;
	color: aqua;
	font-size: 40px;
	font-family: serif;
}

div#kutu3{
	width: 100%;
	height: 380px;
	background-image: url(web16.jpg);
	background-repeat: no-repeat; 
	background-position: top;
	background-attachment: local;
	background-size: 100% 100%;
	margin-top: 2px;
	line-height: 80px;
	text-align: center;
	color: aqua;
	font-size: 40px;
	font-family: algerian;
}

div#kutu4{
	width: 100%;
	height: 380px;
	background-image: url(web33.jpg);
	background-repeat: no-repeat; 
	background-position: top;
	background-attachment: local;
	background-size: 100% 100%;
	margin-top: 2px;
	line-height: 80px;
	text-align: center;
	color: aqua;
	font-size: 40px;
	font-family: sans-serif;
}

div#kutu5{
	width: 100%;
	height: 380px;
	background-image: url(web39.jpg);
	background-repeat: no-repeat; 
	background-position: top;
	background-attachment: local;
	background-size: 100% 100%;
	margin-top: 2px;
	line-height: 80px;
	text-align: center;
	color: aqua;
	font-size: 40px;
	font-family: cursive;
}

div#kutu6{
	width: 100%;
	height: 100%;
	background-color: transparent;
	margin-top: 2px;
}






