.t_menu{
    width:120px;
    height:120px;
    background: none;
    padding:2px;
    margin:auto;
    text-align:center;
}
.t_tarih{
    color: aqua;
    font-size:18px;
    font-family: arial;
    line-height:20px;
}

.t_gun{
    color: aqua;
    font-size:18px;
    font-family: algerian;
    line-height:20px;
}

.t_sayi{
    color: red;
    font-size:60px;
    font-family: algerian;
    line-height:60px;
}
